@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  



:root {
    --background: #ff7914;
    --max-width: 1200px;
    --titles: #cd050b;
    --text: #f5f5f5;
    --boton: #4724ff;
    --card: #ffbe1b;
    --rosa: #ff78f7;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif ;
    list-style: none;
}

body {
   /*  background-color: #c9d6ff; */
    /* background: linear-gradient(to right, #27415d, #16674a); */
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
  /*   border: 1px solid red; */
}

.log-in {
    width: 800px;
  
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}




.login{
    width: 768px;
    /* border: 1px solid red; */
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 15px;
    align-content: center;
    justify-content: center;
}




.register{
    width: 768px;
   /*  border: 1px solid red; */
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 15px;
    justify-content: center;
}

input {
    width: 200px;
    background-color: var(--text);
    border-radius: 5px;
}

input:focus {
    outline: none;
/*     border-radius: 5px;
 */}

section button {
  width: 100px;
  border: none;
  color: #191919;
  padding: 15px 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--text);
}

.back {
  width: 150px;
  border: none;
  color: #191919;
  padding: 15px 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--text);

}

section p {
    font-weight: 500;
}

