


.header {
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}



  /* IMAGENES */

   


   
  
  

 

    /* ********** */

    /* BODY-HEADER-NAV-SECTION-FOOTER  */

    body {
        background-color: var(--background);
        gap: 180px;
     

    }

   /*  main {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

 



    /* NAVBAR  MENU HAMBURGUESA */

   
    

    /* ******************************* */
    

    /* SECCION INFO */

    .section-div-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        gap: 20px;
     
    }
    
    .info {
       display: flex;
       flex-direction: column;
       gap: 20px;
       justify-content: center;
    }

    /* *********** */


    /* SECTION PEDIDOS */

    .section-div-pedidos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        gap: 10px;
        justify-content: center;
        justify-items: center;
        align-content: center;
    }

    .pedidos-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        padding: 30px;
        
    }

     .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        
    }

    .info-card {
        background-color: var(--card);
        border-radius: 10px;
        padding: 20px;
        gap: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* flex-wrap: 1; */
    }

    
    /* *************** */



    /* SECCION MENU */

    .section-div-menu {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        justify-items: center;
        justify-items: center;
        padding: 40px;
        align-items: center;
        max-width: 576px;
    }

    .burguer-caja-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        gap: 30px;
    }

    .menu-burga {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
    }
    .caja {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;   
        gap: 50px; 
        padding: 20px;
       /*  padding: 20px; */
    } 

    .productos-lista {
        display: flex;
        align-items: center;
        border-radius: 15px;
        gap: 20px;
        background-color: var(--card);
   /*      padding: 20px; */
    }

    .product-bottom {
        display: flex;
        flex-direction: row;
        gap: 30px;

        
    }

    .product-bottom p {
        font-weight: 700;
    }

    /* ***************** */