
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
/* ***********************VARIABLES****************************** */
:root {
    --background: #ff7914;
    --max-width: 1200px;
    --titles: #cd050b;
    --text: #f5f5f5;
    --boton: #4724ff;
    --card: #ffbe1b;
    --rosa: #ff78f7;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif ;
}



/* ********BODY-HEADER-MAIN-SECTION-FOOTER***************** */

body {
    background-color: var(--background);
    gap: 200px;
}

.header img {
    width: 50px;
}

section img {
    width: 200px;
}

section {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}









main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

/* NAVBAR */


.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background: var(--background);
    padding: 0px 80px; 
    width: 100%; 
    position: fixed;
}

.bars-menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.bars-menu span {
    height: 1.5px;
    width: 30px;
    background-color: black;
}

#toggle-menu:checked ~ .bars-menu span:nth-child(1) {
    position: absolute;
    top: 0;
    transform: rotate(135deg);
}

#toggle-menu:checked ~ .bars-menu span:nth-child(2) {
    opacity: 0;
}

#toggle-menu:checked ~ .bars-menu span:nth-child(3) {
    position: absolute;
    top: 0;
    transform: rotate(225deg);
} 

.navbar ul {
    background: var(--background);
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    /* gap: 100px; */
    top: 80px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display: none; */
    transform: translateX(200%);
    transition: all .4s ease;
}

.navbar-list{
    padding: 20px;
}

#toggle-menu:checked + .navbar {
    display: flex;
}


.navbar i {
    display: block;
}

#toggle-menu:checked ~ .navbar-list {
   /*  display: flex; */
   transform: translateX(0);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 60px;
}

.navbar {
    display: flex;
}

.navbar i {
    font-size: 25px;
    display: none;
}

#toggle-menu {
    display: none;
}

.navbar-link {
    text-decoration: none;
    color: var(--text);
    font-weight: 300;
} 

.bars-menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bars-menu span {
    height: 1.5px;
    width: 20px;
    background-color: black;
    transition: transform 0.3s;
}

/* ****************************** */


/* SECTION INFO */

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section span {
    font-weight: 700;
    color: aliceblue;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #0d0d0d;
}
footer span {
    font-weight: 700;
    color: aliceblue;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #0d0d0d;
}

/* SECCION PEDIDOS */ 

.section-div-menu {
    padding: 20px;
}

.pedidos-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.burguer-caja-menu {
    display: flex;
    flex-direction: column;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-card {
    background-color: var(--card);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 15px;
    gap: 5px;
}
/* ***************** */

/* SECCION MENU */


.productos-lista {
    display: flex;
    flex-direction: row;
    background-color: var(--rosa);
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 5px 0px 5px 0px;
}

.product-bottom p {
    color: #191919;
    font-weight: 700;
}

.comprar {
    border: none;
    color: var(--text);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--card);
    padding: 10px;
  
  }

.productos-lista img {
    width: 150px;
}

.info-producto {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 30px;
}

.product-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.product-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.caja {
    display: flex;
    flex-direction: column;
    gap: 60px;
 
}

.burguer-caja-menu {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding: 20px;
}

.productos-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 100px;
}


/* SECCION CONTACTO */

.caja-contacto-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    justify-items: center;
}

.primera-caja {
    background-color: var(--card);
    padding: 20px;
    border-radius: 10px;
}

.segunda-caja {
    width: 330px;
    background-color: var(--boton);
    padding: 70px;
    align-items: center;
    border-radius: 10px;
    list-style: none;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.enviar {
    border: none;
    color: var(--text);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--card);
    padding: 10px;
    margin-top: 10px;
}

.segunda-caja input {
    background-color: var(--text);
    border-radius: 5px;
    outline: none;
    border: none;
}

iframe {
    width: 330px;
    height: 300px;
    border-radius: 15px;
}


/* FOOTER */

footer {
    display: none;
}


footer {
    margin-bottom: 200px;
}

/* footer h2 {
    background-color: var(--card);
    padding: 50px;
    border-radius: 15px;
} */

.footer-div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-items: center;
    justify-content: center;
    background-color: var(--boton);
    border-radius: 15px;
}

.caja-footer {
  
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}



/* ************************************************************* */





 

  




