@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  



:root {
    --background: #ff7914;
    --max-width: 1200px;
    --titles: #cd050b;
    --text: #f5f5f5;
    --boton: #4724ff;
    --card: #ffbe1b;
    --rosa: #ff78f7;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif ;
}

body {
   /*  background-color: #c9d6ff; */
    /* background: linear-gradient(to right, #27415d, #16674a); */
    background-color: var(--background);
  
}

.cart {
    width: 50px;
    display: flex;
  /*   align-self: flex-end; */
}

nav {
    display: flex;
    align-items: center;
    background-color: var(--background);
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    gap: 80px;
    z-index: 1000;
    align-content: center;
    align-items: center;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: var(--text);
    position: relative;
}



section span {
    font-weight: 700;
    color: aliceblue;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #0d0d0d;
}

.esquina {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    max-width: 80px;
    align-self: flex-start;
}

nav .cart {
    width: 30px;
    margin-right: 10px;
}

.burguer-info {
    max-width: var(--max-width);
    display: flex;
    padding: 110px 0;
    /* background-color: #b7bfda; */
    /* border: 1px solid red; */
    border-radius: 15px;

}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    gap: 20px;
}

.info img {
    width: 450px;
}

.about-us {
    max-width: var(--max-width);
    display: flex;
    padding: 800px 0;
}

.info-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    padding: 20px;
    gap: 20px;
    background-color: var(--card);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* animaciones */

.nav-list a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: -5px;
    left: 0;
    background-color: #354746;
    transition: all 0.3s ease;
}

.nav-list a:hover::after{
    width: 80%;
}
 
.register a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: -5px;
    left: 0;
    background-color: #354746;
    transition: all 0.3s ease;
}

.register a:hover::after{
    width: 80%;
}

.info-card {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 650px;
    transition: all 0.6s ease;
    cursor: pointer;
    overflow-y: auto;
}

.about-us {
    gap: 30px;
    padding: 80px;
}

.info-card:hover{
    transform: scale(1,1);
    background-color: var(--rosa);
}

.info-card::after{
    width: 80%;
}

.caja {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 40px;
}

.productos-lista {
    display: flex;
  /*   justify-content: center; */
    flex-direction: row;
    align-items: center;
    padding: 30px 0;
    background-color: var(--rosa);
    border-radius: 10px;
    width: 450px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.productos-section  {
    padding: 20px;
}


.productos-lista img {
    width: 200px;
}

.productos-section h2, span {
    text-align: center;
}

.product-bottom {
    display: flex;
    
}

.comprar {
  border: none;
  color: var(--text);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--card);
}


.info-producto {
    display: flex;
    flex-direction: column;
   /*  align-items: center;
    align-content: center; */
    gap: 10px;

}

.precio {
    font-weight: 800;
   /*  text-align: right; */
   /*  margin-right: 30px; */

}

.product-bottom {
    align-items: center;
    align-content: center;
    gap: 70px;
}

.contacto {
    display: flex;
    flex-direction: row;
    padding: 80px;
    color: var(--text);
    list-style: none;
   /*  border: 1px solid red; */
}

.primera-caja {
    background-color: var(--card);
    padding: 70px;
    align-content: center;
    width: 500px;
  /*   border: 1px solid red; */

}

.segunda-caja{
    background-color: var(--boton);
    padding: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    /* border: 1px solid red; */

}

.enviar {
  width: 80px;
  border: none;
  color: var(--text);
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--card);
 margin: auto;
}

input {
    width: 200px;
    background-color: var(--text);
    border-radius: 5px;
}

input:focus {
    outline: none;
/*     border-radius: 5px;
 */}

 .for-about {
    text-align: center;
    padding: 80px;
 }

 .mapa {
    background-color: var(--card);
    align-content: center;
    width: 500px;
  /*   border: 1px solid red; */
 }

 iframe {
    width: 100%;
    height: 100%;
 }

 footer span {
        font-weight: 700;
        color: aliceblue;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #0d0d0d;
 }

 footer h2 {
    color: var(--text);
 }


 footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content:center ;
    padding: 150px;
 }

 .footer-div {
    padding: 80px;
    background-color: var(--card);
    width: 500px;
    border-radius: 10px;
    text-align: center;
 }