
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
/* ***********************VARIABLES****************************** */
:root {
    --background: #ff7914;
    --max-width: 1200px;
    --titles: #cd050b;
    --text: #f5f5f5;
    --boton: #4724ff;
    --card: #ffbe1b;
    --rosa: #ff78f7;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif ;
}
/* NAVBAR */

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar {
    display: flex;
}

.navbar i {
    font-size: 25px;
    display: none;
}


#toggle-menu {
    display: none;
}


.navbar-link {
    text-decoration: none;
    color: var(--text);
    font-weight: 300;
} 

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
/*     gap: 300px;
 */    background: white;
    padding: 0px 80px;
    position: fixed;
    width: 100%; 
    top: 0;
}

/* ************************* */

.grid-container {
    display: grid;
    grid-template:
    "header"
    "info"
    "pedidos"
    "menu"
    "contacto"
    "footer"
    ;
    .header {
        grid-area: header;
        background-color: var(--text);
    }
    

    .navbar {
        grid-area: navbar;
        background-color: var(--background);
    }

    .header {
        grid-area: header;
        background-color: var(--background);
    }

    .section-div-info {
        grid-area: info;
        background-color: var(--background);
    }
    .section-div-pedidos {
        grid-area: pedidos;
        background-color: var(--background);
    }
    .section-div-menu {
        grid-area: menu;
        background-color: var(--background);
    }
    .section-div-contacto {
        grid-area: contacto;
        background-color: var(--background);
    }
    .footer-div {
        grid-area: footer;
        background-color: var(--background);
    }
}

@media (max-width: 576px) {

 

    /* IMAGENES */

    header img {
        max-width: 50px;
      /*   height: auto; */
    }

    section img {
        width: 200px;
    }
    
    .header {
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
    }


   
  
  

 

    /* ********** */

    /* BODY-HEADER-NAV-SECTION-FOOTER  */

    body {
        background-color: var(--background);
        gap: 180px;
    }

    /* NAVBAR  MENU HAMBURGUESA */

    .navbar ul {
        background: var(--background);
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .navbar-list{
        padding: 20px;
    }

    #toggle-menu:checked + .navbar {
        display: flex;
    }
   

    .navbar i {
        display: block;
    }

    #toggle-menu:checked ~ .navbar-list {
        display: flex;
    }
    
    #toggle-menu:checked ~ body {
        display: none;
    }

    /* ******************************* */
    

    /* SECCION INFO */

    .section-div-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        gap: 20px;
     
    }
    
    .info {
       display: flex;
       flex-direction: column;
       gap: 20px;
       justify-content: center;
    }

    /* *********** */


    /* SECTION PEDIDOS */

    .section-div-pedidos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        gap: 10px;
        justify-content: center;
        justify-items: center;
        align-content: center;
    }

    .pedidos-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        padding: 30px;
        
    }

     .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        
    }

    .info-card {
        background-color: var(--background);
        border-radius: 10px;
        padding: 20px;
        gap: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* flex-wrap: 1; */
    }

    
    /* *************** */



    /* SECCION MENU */

    .section-div-menu {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        justify-items: center;
        justify-items: center;
        padding: 40px;
        align-items: center;
        max-width: 576px;
    }

    .burguer-caja-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        gap: 30px;
    }

    .menu-burga {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
    }
    .caja {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;   
        gap: 50px; 
        padding: 20px;
       /*  padding: 20px; */
    } 

    .productos-lista {
        display: flex;
        align-items: center;
        border-radius: 15px;
        gap: 20px;
        background-color: var(--card);
   /*      padding: 20px; */
    }

    .product-bottom {
        display: flex;
        flex-direction: row;
        gap: 30px;

        
    }

    .product-bottom p {
        font-weight: 700;
    }

    /* ***************** */




}